# Data files
data/raw/
data/processed/
ppxf/output/
*.fits
*.pkl

# Results
results/

# Other repositories
Axi_Schwarzschild/
JAM/
Trischwarzpy/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
RUNS.md
